@model IEnumerable<MichalNajwerLab3.Models.Pizza>

@{
    ViewData["Title"] = "Pizza Menu";
}

<h1>Pizza Menu:</h1>

<table class="table">
    <thead>
    <tr>
        <th>Numer</th>
        <th>Nazwa</th>
        <th>Cena</th>
        <th>Zdjecie</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var pizza in Model)
    {
        <tr>
            <td>
                @pizza.Id
            </td>
            <td>
                @pizza.Name
            </td>
            <td>
                @pizza.Price
            </td>
            <td>
                <img src="~/images/@pizza.Image" style="height: 9rem; width: 15rem" class="rounded"/>
            </td>
            <td>
                @Html.ActionLink("Szczegóły", "PizzaDetails", new { id = pizza.Id })
                <button class="btn btn-outline-primary mx-2 add-button" value="@pizza.Id">Do koszyka</button>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts
{
    <script>
        $(".add-button").click(function() {
            $.ajax({
                type: "POST",
                url: "/Cart/AddItem",
                data: { itemId: $(this).val() },
                success: function() {
                    alert("Pizza dodana");
                },
                error: function() {
                    alert("Błąd!");
                }
            });
        });
    </script>
}
